<div class="ejs-component-pc-title">
  <% if (list.title) {%>
    <div class="title" style="<%= 'margin:' + list.titleTop + 'px;'%>">
      <%if (list.isImage) {%>
        <img class="title-img" src="<%=list.title%>" alt="">
      <%} else {%>
        <h2 class="title-txt" style="<%= 'color:' + list.colorTit + ';' + 'font-size:' + list.fontSize + 'px' %>"><%=list.title%></h2>
      <%}%>
    </div>
  <%}%>
</div>