.freedom-module-wrapper {
	.ejs-component-pc-title {
		.title{
			text-align: center;
			margin:0 auto;
			.title-txt {
				text-align: center;
			}
			.title-img {
				display: inline-block;
				max-width: 100%;
				vertical-align: middle;
			}
		}
	}
}